<!DOCTYPE html>
<html>
  <head>
    <title>97 Bowling Alley Lane, Boulder CO</title>
  </head>

  <body>
    <h1>Buster's Best Bowling Alley</h1>
      <p>97 Bowling Alley Lane, Boulder CO </p>
      <p> hours </p>
      <p> dates of tournaments </p>
      <p> bar menu </p>
      <p> pay for a lane online </p>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
  </body>
</html>
